/**************************** Common styles start ********************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,400;0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.btn {
    padding: 10px 35px;
    border: none;
    font-size: 16px;
    margin: 5px;
    border-radius: 2px;
}
/************************ Common styles end ************************/

/************************ Navbar styles start **********************/
p {
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-end: 0;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #d5d2d2;
}

.logo-container {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.logo-title {
    font-size: 18px;
    font-weight: 600;
    color: #02ece8;
}

.logo {
    width: 200px;
}

.menu-container {}

.items {
    display: flex;
    list-style: none;
}

.item {
    margin-right: 10px;
    font-size: 19px;
    padding: 10px;
    cursor: pointer;
}
/************************ Navbar styles end **********************/

/************************ Banner style start  ********************/
.banner-section {
    width: 100%;
    height: 100vh;
    background-image: url(./asset/image/background.jpg), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.digital-banner {
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 80px;
    font-weight: 900;
    color: white;
}
.title-digital{
    color: #f52c2c;
}
.dexcription {
    font-size: 20px;
    color: white;
    padding: 5px;
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
}

.button {
    padding: 5px;
}

.btn-more {
    background-color: rgb(245, 44, 44);
    color: white;
}
/**************************************** Banner style End  ******************************/